docopt==0.6.2
easydict==1.10
gym==0.21.0
imageio==2.19.3
matplotlib==3.5.2
networkx==2.8.5
numpy==1.23.1
scikit-image==0.19.3
scipy==1.9.0
tensorboard==2.0.2
tokenizers==0.12.1
torch==1.12.1
torchaudio==0.12.1
torchsummary==1.5.1
torchvision==0.13.1
tqdm==4.64.0
transformers==4.21.1
x-transformers==0.27.1
xmltodict==0.12.0
